### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import date
from scipy import stats

### Loading Merged IMDB dataset

In [2]:
Final_IMDB_data = "../../data/processed/Final_DF1.csv"
Final_IMDB_data = pd.read_csv(Final_IMDB_data)#, sep='\t')                                                 # loading first files
Final_IMDB_data.head(2)

C:\Users\vishd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,13,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,titleId,title,region,titleType,startYear,genres,directors,writers,averageRating_x,numVotes_x,averageRating_y,numVotes_y,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles
0,0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,5.3,19.0,NaN,NaN,NaN,NaN,NaN
1,1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
Final_IMDB_data.columns

Index(['Unnamed: 0', 'titleId', 'title', 'region', 'titleType', 'startYear',
       'genres', 'directors', 'writers', 'averageRating_x', 'numVotes_x',
       'averageRating_y', 'numVotes_y', 'primaryName_Director',
       'birthYear_Director', 'deathYear', 'primaryProfession_director',
       'Dir_knownForTitles'],
      dtype='object')

In [3]:
Final_IMDB_data['startYear']

0           1898
1           1903
2           1905
3           1898
4           1898
            ...
14999140     NaN
14999141     NaN
14999142     NaN
14999143     NaN
14999144     NaN
Name: startYear, Length: 14999145, dtype: object

### Checking shape of the DataFrame

In [4]:
Final_IMDB_data.shape

(14999145, 18)

### Removing Duplicates

In [5]:
IMDB_data_NoDup = Final_IMDB_data.drop_duplicates(subset=None, keep='first')                              
IMDB_data_NoDup.shape

(14999145, 18)

In [6]:
#IMDB_data_NoDup['startYear'].unique()

#### Dropping duplicated column from AveRating and numvotes

In [7]:
IMDB_data_NoDup = IMDB_data_NoDup.drop(columns=['averageRating_y', 'numVotes_y'])

In [8]:
#IMDB_data_NoDup['startYear'].unique()

#### Rename col AveRating and numvotes

In [9]:
IMDB_data_NoDup = IMDB_data_NoDup.rename(columns={'averageRating_x': 'AveRating','numVotes_x': 'numVotes', 'Unnamed: 0': 'Index'})
IMDB_data_NoDup.head(2)

,Index,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles
0,0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,NaN,NaN,NaN,NaN,NaN
1,1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#IMDB_data_NoDup['startYear'].unique()

### Reset Index

In [11]:
IMDB_data_NoDup =IMDB_data_NoDup.set_index('Index', drop=True, append=False, inplace=False, verify_integrity=False)
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles
Index,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,NaN,NaN,NaN,NaN,NaN
1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
IMDB_data_NoDup.shape

(14999145, 15)

In [13]:
#IMDB_data_NoDup['startYear'].unique()

### Handling for null/missing values

#### Checking columns with null values

In [14]:
IMDB_data_NoDup.columns[IMDB_data_NoDup.isnull().any()]

Index(['titleId', 'title', 'region', 'titleType', 'startYear', 'genres',
       'directors', 'writers', 'AveRating', 'numVotes', 'primaryName_Director',
       'birthYear_Director', 'deathYear', 'primaryProfession_director',
       'Dir_knownForTitles'],
      dtype='object')

#### Printing sum of the null values

In [15]:
for column in IMDB_data_NoDup:                                                             
    IMDB_data_missing = IMDB_data_NoDup[column].isnull().sum()
    #print(IMDB_data_missing)
    #print(column, IMDB_data_NoDup[column].isnull().sum())

In [16]:
IMDB_data_NoDup['startYear'].unique()

array(['1898', '1903', '1905', '1909', '1901', '1907', '1908', '1910',
       '1906', '1899', '1904', '1900', '1902', '1897', nan, '1895',
       '1896', '1894', '1911', '1912', '1915', '1914', '1913', '1916',
       '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924',
       '1925', '1926', '1927', '1928', '1929', '1930', '1934', '1931',
       '1932', '1937', '1933', '1936', '1935', '1939', '1938', '1940',
       '1941', '1942', '1943', '1944', '1945', '1946', '1948', '1947',
       '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1961',
       '1956', '1957', '1958', '1960', '1959', '1962', '1963', '1964',
       '1965', '1966', '1968', '1967', '1969', '1970', '1971', '1972',
       '1974', '1973', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1989', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '\\N', '1990', '1991', '1992', '1994', '1993', '1995',
       '1996', '1997', '1998', '2000', '1999', '2001', '2003', '2004',
       '2002', '2005', '2014', '2011', '2007', '2015', '2012', '2010',
       '2006', '2020', '2018', '2013', '2008', '2021', '2009', '2016',
       '2022', '2019', '2017', '2023', '2027', '2024', '2025', 1896.0,
       1898.0, 1903.0, 1897.0, 1900.0, 1908.0, 1902.0, 1899.0, 1907.0,
       1910.0, 1909.0, 1906.0, 1904.0, 1905.0, 2019.0, 1901.0, 1894.0,
       1895.0, 1913.0, 1914.0, 1916.0, 1917.0, 1912.0, 1911.0, 1915.0,
       1918.0, 1920.0, 1922.0, 1923.0, 1925.0, 1952.0, 1921.0, 1919.0,
       1924.0, 1927.0, 1936.0, 1937.0, 1926.0, 1931.0, 1928.0, 1932.0,
       1933.0, 1934.0, 1935.0, 1930.0, 1929.0, 1938.0, 1939.0, 1941.0,
       1940.0, 1942.0, 1943.0, 1944.0, 1948.0, 1945.0, 1946.0, 1956.0,
       2011.0, 2017.0, 1955.0, 1950.0, 1951.0, 1947.0, 1953.0, 1954.0,
       1957.0, 1959.0, 1960.0, 1958.0, 1968.0, 1961.0, 1962.0, 1964.0,
       1965.0, 1967.0, 1963.0, 1969.0, 1970.0, 1972.0, 1966.0, '1892',
       '1893', 2000, 1993, 2014, 2004, 2001, 1949, 2008, 1983, 1980, 1973,
       1995, 1971, 1976, 1990, 1986, 1979, 1974, 1981, 2020, 1988, 1975,
       1978, 1989, 1977, 1985, 2009, 1987, 2010, 2018, 1984, 1982, 1992,
       1991, 1997, 1999, 2005, '1891', '1888', '1890', '1889', '2026',
       '1887', '1878', '1874', '1883', '2028', '1881', 2012.0, 2003.0,
       2013.0, 2015.0, 2016.0, 2007.0, '1885'], dtype=object)

#### Calculating the % of missing values

In [17]:
percent_NA_cols = IMDB_data_missing / len(IMDB_data_NoDup)
percent_NA_cols

0.9999944663512487

In [18]:
#IMDB_data_NoDup['startYear'].unique()

In [19]:
#IMDB_data_NoDup.dropna(thresh=np.int((100-percent_NA_cols)*(len(IMDB_data_NoDup.columns)/100)),inplace=True)
#print(IMDB_data_NoDup.shape)
#IMDB_data_NoDup.head(2)
#for col in IMDB_data_NoDup.columns: 
   #if sum(IMDB_data_NoDup[col].isnull())/float(len(IMDB_data_NoDup)) > 0.8:
       #del IMDB_data_NoDup[col] 
#IMDB_data_NoDup.head()

In [20]:
#IMDB_data_NoDup['startYear'].unique()

#### Rename unnammed index to index

In [21]:
IMDB_data_NoDup.index.names = ['Index']
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles
Index,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,NaN,NaN,NaN,NaN,NaN
1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#IMDB_data_NoDup['startYear'].unique()

#### Checking column's datatypes

In [23]:
IMDB_data_NoDup.dtypes

titleId                        object
title                          object
region                         object
titleType                      object
startYear                      object
genres                         object
directors                      object
writers                        object
AveRating                     float64
numVotes                      float64
primaryName_Director           object
birthYear_Director            float64
deathYear                      object
primaryProfession_director     object
Dir_knownForTitles             object
dtype: object

#### Checking Unique values

In [24]:
IMDB_data_NoDup.nunique()

titleId                       1960233
title                         1574985
region                            239
titleType                          11
startYear                         270
genres                           2279
directors                      798205
writers                       1098223
AveRating                          91
numVotes                        18681
primaryName_Director                5
birthYear_Director                  5
deathYear                           5
primaryProfession_director          5
Dir_knownForTitles                  5
dtype: int64

#### Replacing missing values

In [25]:
IMDB_data_NoDup.fillna(method='bfill', inplace=True)                                  
IMDB_data_NoDup.shape

(14999145, 15)

#### Checking unique values by columns

In [26]:
#IMDB_data_NoDup['title'].unique()

In [27]:
IMDB_data_NoDup.dtypes

titleId                        object
title                          object
region                         object
titleType                      object
startYear                      object
genres                         object
directors                      object
writers                        object
AveRating                     float64
numVotes                      float64
primaryName_Director           object
birthYear_Director            float64
deathYear                      object
primaryProfession_director     object
Dir_knownForTitles             object
dtype: object

In [28]:
#IMDB_data_NoDup['startYear'].unique()

In [29]:
### Dropping Index column
#IMDB_data_NoDup = IMDB_data_NoDup.drop(['Index'], axis = 1)  
#IMDB_data_NoDup.head(2)

### Calculating age of the movies

##### Converting startYear col from str to int

In [30]:
IMDB_data_NoDup['startYear'] = pd.to_numeric(IMDB_data_NoDup['startYear'], errors='coerce')
IMDB_data_NoDup['startYear'] = IMDB_data_NoDup['startYear'].convert_dtypes()

##### Printing current year

In [31]:
from datetime import datetime
year = datetime.now().year
print(year)

2022

##### Calculating movie age by substracting startYear from current year

In [32]:
IMDB_data_NoDup['Age_of_movie'] = year - IMDB_data_NoDup['startYear'] 
print(IMDB_data_NoDup.head(5))

         titleId                                   title region titleType  \
Index
0      tt0000019                        The Clown Barber     GB     short
1      tt0232670                    The Soldier's Return     GB     short
2      tt0271697                      Our New Errand Boy     GB     short
3      tt0273227                     The Forbidden Lover     GB     short
4      tt0274176  Two Naughty Boys Sprinkling the Spoons     GB     short

       startYear        genres  directors    writers  AveRating  numVotes  \
Index
0           1898  Comedy,Short  nm0932055         \N        5.3      19.0
1           1903   Drama,Short  nm0932055         \N        5.4      98.0
2           1905  Comedy,Short  nm0932055         \N        5.4      98.0
3           1898  Comedy,Short  nm0932055  nm0932055        4.4       7.0
4           1898  Comedy,Short  nm0932055  nm0932055        4.4       7.0

      primaryName_Director  birthYear_Director deathYear  \
Index
0           Ingmar Bergman              1918.0    2007.0
1           Ingmar Bergman              1918.0    2007.0
2           Ingmar Bergman              1918.0    2007.0
3           Ingmar Bergman              1918.0    2007.0
4           Ingmar Bergman              1918.0    2007.0

      primaryProfession_director                       Dir_knownForTitles  \
Index
0          writer,director,actor  tt0050976,tt0050986,tt0060827,tt0069467
1          writer,director,actor  tt0050976,tt0050986,tt0060827,tt0069467
2          writer,director,actor  tt0050976,tt0050986,tt0060827,tt0069467
3          writer,director,actor  tt0050976,tt0050986,tt0060827,tt0069467
4          writer,director,actor  tt0050976,tt0050986,tt0060827,tt0069467

       Age_of_movie
Index
0               124
1               119
2               117
3               124
4               124

#### Calculating age of the directors

##### Converting birthYear_Director col type from str to int

In [33]:
IMDB_data_NoDup['birthYear_Director'] = pd.to_numeric(IMDB_data_NoDup["birthYear_Director"], errors='coerce')
IMDB_data_NoDup['birthYear_Director'] = IMDB_data_NoDup["birthYear_Director"].convert_dtypes()

##### Converting deathYear col type from str to int

In [34]:
IMDB_data_NoDup['deathYear'] = pd.to_numeric(IMDB_data_NoDup["deathYear"], errors='coerce')
IMDB_data_NoDup['deathYear'] = IMDB_data_NoDup["deathYear" ].convert_dtypes()

##### Calculating Director_age by substrating birthyear from deathYear

In [35]:
IMDB_data_NoDup['Director_age'] = IMDB_data_NoDup['deathYear']  - IMDB_data_NoDup['birthYear_Director'] 
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age
Index,,,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",124,89
1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,5.4,98.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",119,89

In [36]:
IMDB_data_NoDup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14999145 entries, 0 to 14999144
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   titleId                     object
 1   title                       object
 2   region                      object
 3   titleType                   object
 4   startYear                   Int64
 5   genres                      object
 6   directors                   object
 7   writers                     object
 8   AveRating                   float64
 9   numVotes                    float64
 10  primaryName_Director        object
 11  birthYear_Director          Int64
 12  deathYear                   Int64
 13  primaryProfession_director  object
 14  Dir_knownForTitles          object
 15  Age_of_movie                Int64
 16  Director_age                Int64
dtypes: Int64(5), float64(2), object(10)
memory usage: 2.1+ GB

#### Checking NaN values

In [37]:
IMDB_data_NoDup['Age_of_movie'].isna().sum()

1852812

##### Converting Age_of_movie to float type

In [38]:
IMDB_data_NoDup['Age_of_movie'] = IMDB_data_NoDup['Age_of_movie'].astype('float')

##### Replacing all NaN value with mean of the Age_of_movie column

In [39]:
IMDB_data_NoDup['Age_of_movie'].fillna((IMDB_data_NoDup['Age_of_movie'].mean()), inplace=True)

In [40]:
IMDB_data_NoDup['Age_of_movie'].value_counts()

126.000000    2931486
51.259111     1852812
92.000000     1377176
3.000000       507609
4.000000       453038
               ...
144.000000          2
148.000000          1
139.000000          1
141.000000          1
137.000000          1
Name: Age_of_movie, Length: 148, dtype: int64

#### Deriving the decade for the movies

In [41]:

conditions = [
    # (IMDB_data_NoDup['Age_of_movie'].ndim == 0),
     (IMDB_data_NoDup['Age_of_movie'] <= 1),
     (IMDB_data_NoDup['Age_of_movie'] > 1) & (IMDB_data_NoDup['Age_of_movie'] <= 10), 
     (IMDB_data_NoDup['Age_of_movie'] > 10) & (IMDB_data_NoDup[ 'Age_of_movie'] <= 25),
     (IMDB_data_NoDup['Age_of_movie'] > 25) & (IMDB_data_NoDup['Age_of_movie'] <= 50),
     (IMDB_data_NoDup['Age_of_movie'] > 50) & (IMDB_data_NoDup['Age_of_movie'] <= 75),
     (IMDB_data_NoDup['Age_of_movie'] > 75) & (IMDB_data_NoDup['Age_of_movie'] <= 100),
     (IMDB_data_NoDup['Age_of_movie'] > 100) & (IMDB_data_NoDup['Age_of_movie'] <= 125),
     (IMDB_data_NoDup['Age_of_movie'] > 125) & (IMDB_data_NoDup['Age_of_movie']<= 150),
     (IMDB_data_NoDup['Age_of_movie'] > 150)]

# create a list of the values we want to assign for each condition
values = ['D0','D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8']

IMDB_data_NoDup['Decade']  = np.select(conditions, values) 

IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",124.0,89,D6
1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,5.4,98.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",119.0,89,D6

In [42]:
IMDB_data_NoDup['Decade'].value_counts()

D1    3716634
D7    2936584
D2    2788592
D4    2423313
D5    1489858
D3    1384650
D6     139304
D0     120210
Name: Decade, dtype: int64

In [43]:
print(IMDB_data_NoDup.isnull().values.sum())

8622157

In [44]:
print(IMDB_data_NoDup.isnull().sum())

titleId                        966985
title                          966985
region                         966985
titleType                      966985
startYear                     1852812
genres                         966985
directors                           4
writers                             4
AveRating                      967205
numVotes                       967205
primaryName_Director                0
birthYear_Director                  0
deathYear                           1
primaryProfession_director          0
Dir_knownForTitles                  0
Age_of_movie                        0
Director_age                        1
Decade                              0
dtype: int64

##### Selecting values by removing the duplicates and unique values based on title", "startYear", "primaryName_Director", "birthYear_Director"

In [45]:
#DF_uniquevalue = IMDB_data_NoDup.value_counts(["title", "startYear", "primaryName_Director", "birthYear_Director" ]) 
#DF_uniquevalue

#### Dropping duplicated cols based on the unique values from each cols

In [46]:
IMDB_data_NoDup = IMDB_data_NoDup.drop_duplicates(subset=["title", "startYear", "primaryName_Director", "birthYear_Director"])
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898,"Comedy,Short",nm0932055,\N,5.3,19.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",124.0,89,D6
1,tt0232670,The Soldier's Return,GB,short,1903,"Drama,Short",nm0932055,\N,5.4,98.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",119.0,89,D6

#### Verifying duplicated cols

In [47]:
Ver_dup = IMDB_data_NoDup[IMDB_data_NoDup['title'] == "Pilot"]
#Ver_dup

In [48]:
IMDB_data_NoDup['title'].value_counts().count()

1574985

In [49]:
print(IMDB_data_NoDup.isnull().sum())

titleId                           4
title                             4
region                            4
titleType                         4
startYear                     91345
genres                            4
directors                         3
writers                           3
AveRating                        60
numVotes                         60
primaryName_Director              0
birthYear_Director                0
deathYear                         1
primaryProfession_director        0
Dir_knownForTitles                0
Age_of_movie                      0
Director_age                      1
Decade                            0
dtype: int64

In [50]:
IMDB_data_NoDup.isna().sum()/(len(IMDB_data_NoDup))*100

titleId                       0.000212
title                         0.000212
region                        0.000212
titleType                     0.000212
startYear                     4.837927
genres                        0.000212
directors                     0.000159
writers                       0.000159
AveRating                     0.003178
numVotes                      0.003178
primaryName_Director          0.000000
birthYear_Director            0.000000
deathYear                     0.000053
primaryProfession_director    0.000000
Dir_knownForTitles            0.000000
Age_of_movie                  0.000000
Director_age                  0.000053
Decade                        0.000000
dtype: float64

In [51]:
IMDB_data_NoDup[IMDB_data_NoDup['startYear'].isnull()].head()

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
2235,tt0094640,Am Stammtisch - Ein Heimatfilm,AT,tvEpisode,<NA>,Documentary,\N,\N,5.6,10.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4
2278,tt0098828,Idol Angel Yohkoso Yohko,JP,tvSeries,<NA>,"Animation,Comedy",\N,\N,7.8,5.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4
2699,tt0120892,Winding Stair,US,movie,<NA>,Thriller,\N,nm0427973,7.6,8.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4
2700,tt0120922,Artes e Ofícios,PT,tvSeries,<NA>,\N,\N,\N,7.6,8.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4
2706,tt0120987,Megavision,GB,tvSeries,<NA>,Comedy,\N,\N,8.1,15.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4

####  Checking Null values in df

In [52]:
IMDB_data_NoDup[IMDB_data_NoDup.isnull().any(axis=1)].head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
2235,tt0094640,Am Stammtisch - Ein Heimatfilm,AT,tvEpisode,<NA>,Documentary,\N,\N,5.6,10.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4
2278,tt0098828,Idol Angel Yohkoso Yohko,JP,tvSeries,<NA>,"Animation,Comedy",\N,\N,7.8,5.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4

 #### Replacing startyear Null value with mean

In [53]:
IMDB_data_NoDup['startYear'] = IMDB_data_NoDup['startYear'].astype('float')

In [54]:
IMDB_data_NoDup['startYear'].fillna((IMDB_data_NoDup['startYear'].mean()), inplace=True)

#### Verifying replacement

In [55]:
IMDB_data_NoDup[IMDB_data_NoDup['title'] == "The Wonderful World of Wilbur Pope"]    
IMDB_data_NoDup[IMDB_data_NoDup['title'] == "Barnyard WAAC"]

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
10602708,tt0149801,Barnyard WAAC,US,short,1999.022127,"Animation,Short",nm0232705,"nm0287888,nm0458783,nm0607334,nm0856056",5.9,9.0,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467",51.259111,89,D4

#### Checking Null values in Column birthYear_Director

In [56]:
IMDB_data_NoDup[IMDB_data_NoDup['birthYear_Director'].isnull()].head(2)

Empty DataFrame
Columns: [titleId, title, region, titleType, startYear, genres, directors, writers, AveRating, numVotes, primaryName_Director, birthYear_Director, deathYear, primaryProfession_director, Dir_knownForTitles, Age_of_movie, Director_age, Decade]
Index: []

#### Replacing Null values with mean

In [57]:

#IMDB_data_NoDup['startYear'].fillna((IMDB_data_NoDup['startYear'].mean()), inplace=True)

IMDB_data_NoDup['birthYear_Director'] = IMDB_data_NoDup['birthYear_Director'].astype('float')
IMDB_data_NoDup['deathYear'] = IMDB_data_NoDup['deathYear'].astype('float')
IMDB_data_NoDup['Director_age'] = IMDB_data_NoDup['Director_age'].astype('float')



IMDB_data_NoDup['birthYear_Director'].fillna((IMDB_data_NoDup['birthYear_Director'].mean()), inplace = True)
IMDB_data_NoDup['deathYear'].fillna((IMDB_data_NoDup['deathYear'].mean()), inplace = True)
IMDB_data_NoDup['Director_age'].fillna((IMDB_data_NoDup['Director_age'].mean()), inplace = True)

#### Verifying fillna

In [58]:
IMDB_data_NoDup[IMDB_data_NoDup['primaryName_Director'] == "Francisco Pinto Moreira"]

Empty DataFrame
Columns: [titleId, title, region, titleType, startYear, genres, directors, writers, AveRating, numVotes, primaryName_Director, birthYear_Director, deathYear, primaryProfession_director, Dir_knownForTitles, Age_of_movie, Director_age, Decade]
Index: []

#### Checking df for NaN values after replacement

In [59]:
IMDB_data_NoDup[IMDB_data_NoDup.isnull().any(axis=1)].head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,primaryName_Director,birthYear_Director,deathYear,primaryProfession_director,Dir_knownForTitles,Age_of_movie,Director_age,Decade
Index,,,,,,,,,,,,,,,,,,
14031940,tt9914406,Gucci Gucci Prada Prada,US,short,2017.0,"Comedy,Drama,Short",nm10537233,nm10537233,NaN,NaN,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0031983",5.0,88.0,D1
14031941,tt9914420,Coping Ugly,US,short,2018.0,"Drama,Short",nm10535628,nm10535628,NaN,NaN,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0031983",4.0,88.0,D1

#### Checking value after replacing all null values

In [60]:
IMDB_data_NoDup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1888102 entries, 0 to 14999144
Data columns (total 18 columns):
 #   Column                      Dtype
---  ------                      -----
 0   titleId                     object
 1   title                       object
 2   region                      object
 3   titleType                   object
 4   startYear                   float64
 5   genres                      object
 6   directors                   object
 7   writers                     object
 8   AveRating                   float64
 9   numVotes                    float64
 10  primaryName_Director        object
 11  birthYear_Director          float64
 12  deathYear                   float64
 13  primaryProfession_director  object
 14  Dir_knownForTitles          object
 15  Age_of_movie                float64
 16  Director_age                float64
 17  Decade                      object
dtypes: float64(7), object(11)
memory usage: 273.7+ MB

#### Value count for duplicates

In [61]:
IMDB_data_NoDup['title'].value_counts()

The King                         150
Pilot                             71
Yukutoshi kurutoshi               60
Homecoming                        59
The Gift                          59
                                ...
Paste and Politics                 1
Passing the Message                1
Jarvis Cocker's TV Pop Rules!      1
I Love Muppets                     1
Pretty Pretty Black Girl           1
Name: title, Length: 1574985, dtype: int64

#### Calculating Statistics (std, min, max, mean) of col rating

In [62]:
std_Of_AvRating = np.std(IMDB_data_NoDup['AveRating'])
mean_mu = np.mean(IMDB_data_NoDup['AveRating'])
min_Rating = np.min(IMDB_data_NoDup['AveRating'])
max_Rating = np.max(IMDB_data_NoDup['AveRating'])
lowerbound, upperbound = stats.norm.interval(0.95, loc=mean_mu, scale= std_Of_AvRating)

print('std_Of_AvRating:',std_Of_AvRating, 'mean_mu of rating:', mean_mu)
print('min_Of_AvRating:',min_Rating, 'max_Of_AvRating:',min_Rating)
print('lowerbound:', lowerbound, 'upperbound', upperbound)

std_Of_AvRating: 1.4875244926763949 mean_mu of rating: 6.881020072645245
min_Of_AvRating: 1.0 max_Of_AvRating: 1.0
lowerbound: 3.9655256408782957 upperbound 9.796514504412194

### Outliers Detection

In [63]:
Q1 = IMDB_data_NoDup.quantile(0.25)
Q3 = IMDB_data_NoDup.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

startYear             18.0
AveRating              1.9
numVotes              22.0
birthYear_Director     0.0
deathYear              0.0
Age_of_movie          25.0
Director_age           0.0
dtype: float64

### Outliers Removal 
##### https://www.pluralsight.com/guides/cleaning-up-data-from-outliers

In [64]:
#IMDB_data_NoDup = IMDB_data_NoDup[~((IMDB_data_NoDup < (Q1 - 1.5 * IQR)) |(IMDB_data_NoDup > (Q3 + 1.5 * IQR))).any(axis=1)]
#print(IMDB_data_NoDup.shape)

In [65]:
IMDB_data_NoDup[['P_writer', 'P_director', 'P_actor']] = IMDB_data_NoDup['primaryProfession_director'].str.split(',', expand=True)

In [66]:
IMDB_data_NoDup[['genere1', 'genere2', 'genere3']] = IMDB_data_NoDup['genres'].str.split(',', expand=True)

In [67]:
IMDB_data_NoDup['writers'] = IMDB_data_NoDup['writers'].replace('\\N', 0)
IMDB_data_NoDup['writers'] = IMDB_data_NoDup['writers'].fillna(0)
IMDB_data_NoDup['writers'].unique()

array([0, 'nm0932055', 'nm0996076,nm0932055', ..., 'nm10439323',
       'nm10538612', 'nm10538639'], dtype=object)

In [68]:
IMDB_data_NoDup = IMDB_data_NoDup.fillna(0)

In [91]:
#IMDB_data_NoDup = IMDB_data_NoDup.reset_index("Index")

In [69]:
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,...,Dir_knownForTitles,Age_of_movie,Director_age,Decade,P_writer,P_director,P_actor,genere1,genere2,genere3
Index,,,,,,,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898.0,"Comedy,Short",nm0932055,0,5.3,19.0,...,"tt0050976,tt0050986,tt0060827,tt0069467",124.0,89.0,D6,writer,director,actor,Comedy,Short,0
1,tt0232670,The Soldier's Return,GB,short,1903.0,"Drama,Short",nm0932055,0,5.4,98.0,...,"tt0050976,tt0050986,tt0060827,tt0069467",119.0,89.0,D6,writer,director,actor,Drama,Short,0

In [77]:
#IMDB_data_NoDup =  IMDB_data_NoDup.drop(IMDB_data_NoDup.columns[0], axis=1)

In [70]:
IMDB_data_NoDup.drop(columns={'genres', 'primaryProfession_director'}, axis=1)
IMDB_data_NoDup.head(2)

,titleId,title,region,titleType,startYear,genres,directors,writers,AveRating,numVotes,...,Dir_knownForTitles,Age_of_movie,Director_age,Decade,P_writer,P_director,P_actor,genere1,genere2,genere3
Index,,,,,,,,,,,,,,,,,,,,,
0,tt0000019,The Clown Barber,GB,short,1898.0,"Comedy,Short",nm0932055,0,5.3,19.0,...,"tt0050976,tt0050986,tt0060827,tt0069467",124.0,89.0,D6,writer,director,actor,Comedy,Short,0
1,tt0232670,The Soldier's Return,GB,short,1903.0,"Drama,Short",nm0932055,0,5.4,98.0,...,"tt0050976,tt0050986,tt0060827,tt0069467",119.0,89.0,D6,writer,director,actor,Drama,Short,0

In [71]:
IMDB_data_NoDup.columns

Index(['titleId', 'title', 'region', 'titleType', 'startYear', 'genres',
       'directors', 'writers', 'AveRating', 'numVotes', 'primaryName_Director',
       'birthYear_Director', 'deathYear', 'primaryProfession_director',
       'Dir_knownForTitles', 'Age_of_movie', 'Director_age', 'Decade',
       'P_writer', 'P_director', 'P_actor', 'genere1', 'genere2', 'genere3'],
      dtype='object')

### Saving dataframe after data handing and wrangling process

In [72]:
IMDB_data_NoDup.to_csv(r'../../data/processed/IMDB_data_NoDup.csv')